.container{
    width : 70%;
    text-align: center;
    margin: 50px auto;
}

.dices{
    text-align: center;
    display: inline-block;
}
img{
    max-width: 800px;
}
.headerTitle{
    font-size: 150px;
    color: rgb(215, 32, 26);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}